.ForumPage {
	--bs-body-bg: var(--bs-light);
}

.forumHeader {
	border-radius: 5px;
	background-color: var(--bs-light);
	padding: 20px;
	min-height: 5lh;
	margin-bottom: 2lh;
}

.forumHeaderPlaceholder {
	display: flex;
	justify-content: center;
	align-items: center;
}

.threadEntry {
	background-color: var(--bs-light);
}

.thread {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.threadPlaceholder
{
	align-items: center;
	justify-content: center;
	height: 200px;
}

.threadTitle {
	margin: 0px;
}

.threadThumbnail {
	color: gray;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

.threadAttribution {
	font-size: small;
	color: gray;
	margin-bottom: 0.5lh;
}

.threadLastPost {
	width: 12rem;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.threadContent {
	flex-grow: 1;
}

.threadAuthorImg {
	width: 50px;
	height: 50px;
}