.forumList > .forumEntry {
	background-color: var(--bs-light);
}

.forumBlock {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.forumThumbnail {
	width: 70px;
	width: 70px;
	border-radius: 50%;
	margin: 10px;
}

.forumMain {
	margin: 0px 10px;
	flex-grow: 1;
}

.forumTitle {
	font-weight: bold;
}

.forumDesc {
	color: darkgray;
}

.forumThreadCount {
	font-weight: bold;
	font-size: larger;
}

.forumThreadPlaceholder {
	width: 200px;
}

.forumLastThread {
	width: 300px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.author {
	font-size: smaller;
	color:darkgray;
	margin-left: 2ch;
}

.authorPic {
	width: 50px;
	width: 50px;
	margin: 10px;
}

.time {
	font-size: small;
}