.forumHeader {
	border-radius: 5px;
	background-color: var(--bs-light);
	padding: 20px;
	min-height: 5lh;
	margin-bottom: 2lh;
}

.forumHeaderPlaceholder {
	display: flex;
	justify-content: center;
	align-items: center;
}

.thread {
	display: flex;
	flex-direction: row;
	align-items: start;
}

.threadPlaceholder
{
	align-items: center;
	justify-content: center;
	height: 200px;
}

.thread:not(.threadPlaceholder):hover {
	background-color: lightgray;
}

.threadLastPost {
	width: 10rem;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.threadContent {
	flex-grow: 1;
}

.threadAuthorImg {
	width: 50px;
	height: 50px;
}