.mainNav {
	background-color: var(--bs-primary);
}

.navCollapse {
	--bs-nav-link-color: var(--bs-navbar-color);
	--bs-nav-link-hover-color: var(--bs-navbar-hover-color);
}

.navdrop {
	margin-left: 2ch;
}