.App {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.page {
	max-width: 1060px;
	margin: 0px auto;
	padding: 20px 30px;
	--primary-fade: rgb(242, 230, 250, 0.8);
}

.hide {
	display:none;
}

.ql-container {
    font-size: inherit !important;
	font-family: inherit !important;
}